* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-DimGrey: #696773;
	--color-Blue: #819595;
	--color-Ash: #b1b6a6;
	--color-Black: #000000;
}

body {
	background-color: var(--color-DimGrey);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

h1 {
	padding-top: 2rem;
	align-self: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > div {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 1rem;
	width: 100%;
}

.container > div > div {
	display: flex;
	flex-direction: column;
	background-color: var(--color-Blue);
	flex: 1;
	padding: 2rem 1rem;
	margin: 1rem 0;
	border-radius: 10px;
}

h3 {
	margin: 1rem 0;
}
label {
	margin: 0.5rem 0;
}

input {
	outline: none;
	padding: 0 1rem;
	margin: 0.5rem 0;
	background-color: var(--color-Ash);
	border: 1px solid var(--color-DimGrey);
	border-radius: 10px;
	height: 2rem;
	width: 100%;
}

textarea {
	margin: 0.5rem 0;
	background-color: var(--color-Ash);
	border: 1px solid var(--color-DimGrey);
	border-radius: 10px;
	width: 100%;
	height: 7.2rem;
}

.container-result {
	position: relative;
}

button {
	background-color: white;
	border: 0;
	border-radius: 10px;
	margin: 0.5rem 0;
	height: 2rem;
	width: min(50%, 200px);
}

button:hover {
	cursor: pointer;
	background-color: var(--color-DimGrey);
	color: var(--color-Ash);
}

.result {
	position: absolute;
	left: 50%;
	top: 0.5rem;
	background-color: var(--color-Blue);
	border-radius: 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 1rem;
}

@media screen and (max-width: 650px) {
	.container {
		flex-direction: column;
	}
	.container > div {
		margin: 0;
	}
}
